<?php
namespace Bootgly\CLI;


use Bootgly\CLI;
use Bootgly\CLI\Terminal\components\Progress;
use Bootgly\CLI\Terminal\components\Table;


$Output = CLI::$Terminal->Output;

$examples = [
   // Terminal->Output . Writing
   'terminal/output.writing-01.example.php',


   // Terminal->Output _ Cursor Positioning
   'terminal/output_cursor-positioning-01.example.php',
   // Terminal->Output _ Cursor Shaping
   'terminal/output_cursor-shaping-01.example.php',
   // Terminal->Output _ Cursor Visualizing
   'terminal/output_cursor-visualizing-01.example.php',


   // Terminal->Output _ Text Formatting - Coloring
   'terminal/output_text-formatting-coloring-01.example.php',
   // Terminal->Output _ Text Formatting - Styling
   'terminal/output_text-formatting-styling-01.example.php',

   // Terminal->Output _ Text Modifying
   'terminal/output_text-modifying-01.example.php',
   // Terminal->Output _ Text Modifying - Line
   'terminal/output_text-modifying-line-01.example.php',


   // Terminal/components - Progress component
   'terminal/components/progress-component-01.example.php',
   // Terminal/components - Table component
   'terminal/components/table-component-01.example.php'
];

foreach ($examples as $index => $example) {
   require '@bootgly/cli/examples/' . $example;

   if (count($examples) > $index + 1) {
      $Output->write("\n---\n\n");
   }
}
