<?php
namespace Bootgly\CLI;


use Bootgly\CLI;


$Output = CLI::$Terminal->Output;

$Output->expand(lines: CLI::$Terminal::$lines);


$examples = [
   // ! Terminal
   // ? Input
   'terminal/Input/@reading-01.example.php',

   // ? Output
   // Terminal -> Output @ writing
   'terminal/Output/@writing-01.example.php',


   // Terminal -> Output -> Cursor Positioning
   'terminal/Output/Cursor-positioning-01.example.php',
   // Terminal -> Output -> Cursor Shaping
   'terminal/Output/Cursor-shaping-01.example.php',
   // Terminal -> Output -> Cursor Visualizing
   'terminal/Output/Cursor-visualizing-01.example.php',


   // Terminal -> Output -> Text Formatting - Coloring
   'terminal/Output/Text-formatting-coloring-01.example.php',
   // Terminal -> Output -> Text Formatting - Styling
   'terminal/Output/Text-formatting-styling-01.example.php',

   // Terminal -> Output -> Text Modifying
   'terminal/Output/Text-modifying-01.example.php',
   // Terminal -> Output -> Text Modifying - In Display
   'terminal/Output/Text-modifying-indisplay-01.example.php',
   // Terminal -> Output -> Text Modifying - Inline
   'terminal/Output/Text-modifying-inline-01.example.php',
   // Terminal -> Output -> Text Modifying - Line
   'terminal/Output/Text-modifying-line-01.example.php',


   // Terminal -> components - Alert component
   'terminal/components/Alert-01.example.php',
   // Terminal -> components - Progress component
   'terminal/components/Progress-01.example.php',
   // Terminal -> Output components - Progress component: indeterminate state
   'terminal/components/Progress-02.example.php',
   // Terminal -> Output components - Table component
   'terminal/components/Table-01.example.php'
];

foreach ($examples as $index => $example) {
   $file = '@bootgly/cli/examples/' . $example;
   $location = 'projects/' . $file;
   require $file;

   sleep(3);

   CLI::$Terminal->clear();
}
