<?php
use Bootgly\Bootgly;

use Bootgly\Web\HTTP\Server\Request;
use Bootgly\Web\HTTP\Server\Response;
use Bootgly\Web\HTTP\Server\Router;


Bootgly::$Project->vendor = '@bootgly/';
Bootgly::$Project->container = 'web/';
Bootgly::$Project->package = 'examples/';
Bootgly::$Project->version = 'app/';
Bootgly::$Project->setPath();


return static function
(Request $Request, Response $Response, Router $Router) : Response
{
   // ! Request examples
   #$Request->method;    // GET
   #$Request->uri;       // /path/to?query1=value2...
   #$Request->protocol;  // HTTP/1.1

   // ! Response examples
   /*
   return $Response(raw: <<<HTTP_RAW
   HTTP/1.1 200 OK
   Server: Bootgly
   Content-Type: text/plain; charset=UTF-8
   Content-Length: 12

   Hello World!
   HTTP_RAW);
   */

   #return $Response('statics/screenshot.gif')->upload();

   return $Response(content: 'Hello World!');
};
