<?php
use Bootgly\Bootgly;

use Bootgly\Web\HTTP\Server\Request;
use Bootgly\Web\HTTP\Server\Response;
use Bootgly\Web\HTTP\Server\Router;


Bootgly::$Project->vendor = '@bootgly/';
Bootgly::$Project->container = 'web/';
Bootgly::$Project->package = 'examples/';
Bootgly::$Project->version = 'app/';
Bootgly::$Project->setPath();


return static function
(Request $Request, Response $Response, Router $Router) : Response
{
   // ! Request examples
   // ? Meta (first line of HTTP Header)
   #$Request->method;    // GET
   #$Request->uri;       // /path/to?query1=value2...
   #$Request->protocol;  // HTTP/1.1
   // ? Header
   #$host = $Request->Header->get('Host');
   // ? Content
   // @ Download Files / Text fields
   // Form-data
   #$files = $Request->download('file1'); // $_FILES and $Request->files available too

   // ! Response examples
   // ? Content
   // @ Output Content
   // raw ?
   /*
   return $Response(raw: <<<HTTP_RAW
   HTTP/1.1 200 OK
   Server: Bootgly
   Content-Type: text/plain; charset=UTF-8
   Content-Length: 12

   Hello World!
   HTTP_RAW);
   */
   // content
   return $Response(content: 'Hello World!'); // text
   #return $Response->Json->send(['Hello' => 'World!']); // JSON
   // @ Upload Files
   // Small files
   #return $Response('statics/image1.jpg')->upload();
   // Large files
   #return $Response('statics/screenshot.gif')->upload(offset: 0, length: 2);
};
