<?php
namespace Bootgly\Web;


use Bootgly\Debugger;


$Server = $this->Server = new \Bootgly\Web\HTTP\Server($this);
$Request = $this->Request = &$this->Server->Request;
$Response = $this->Response = &$this->Server->Response;
$Router = $this->Router = &$this->Server->Router;

// ! Global Routes
switch ($Request->host) {
   case 'example.com':
      $Project->vendor = 'example.com/';
      $Project->container = 'examples/';

      switch (@$Request->paths[0]) {
         case 'app':
            $Project->package = 'app/';
            $Project->public = 'dist/';
            $Project->version = 'spa/';
            $Project->setPath(); // Set main folder
            $Project->version = 'public/';
            $Project->setPath(); // Set backup folder

            $App = new App($this);
            $App->pathbase = '/app/';
            $App->template = 'static';
            $App->load();
            break;
         default:
            // $Response->redirect('//example.com/app/');
      }

      break;
   default: // @ bootgly
      // TODO with $Router
      #$Router(['host' => 'bootgly.slayer.tech'], function () {});

      error_reporting(E_ALL); ini_set('display_errors', 'On');

      #phpinfo(); exit;

      #xdebug_break();

      $Project->vendor = '@bootgly/';
      $Project->container = 'web/';
      $Project->package = 'examples/';
      $Project->version = 'app/';
      $Project->setPath();

      $this->App = new App($this);
      $this->App->load();
}