### * Globals
# Ignore IDEs folders...
.idea/
.vscode/
# Ignore locks, bin, envs...
composer
composer.json
composer.lock
cli-config.php
server-*.php

### @Bootgly ###
## Short folders
# Ignore #doc folders
**/#
# Ignore &xcluded folders
**/&

### Bootstrap ###

## /@
@/php.ini
@/certificates/*
# Ignore imported packages (equivalent to vendor)
@/imports/*

## /boot
/boot/*
!/boot/..php
!/boot/@interfaces
!/boot/@traits
!/boot/__array
!/boot/__class
!/boot/__iterable
!/boot/__string
!/boot/debugger
!/boot/dir
!/boot/exception
!/boot/file
!/boot/logger
!/boot/path

## /core
/core/*
!/core/@loader.php
!/core/Bootgly.php
!/core/Database.php
!/core/Event.php
!/core/Event
!/core/Project.php
!/core/Template.php
!/core/Template

### Resources ###

## /interfaces

## /modules

## /nodes

## /platforms
/platforms/CLI/*
/platforms/Web/*
!/platforms/Web/API.php
!/platforms/Web/App.php


### Sources ###

## /projects
# Ignore projects except bootgly subdirectory
/projects/*
!/projects
!/projects/bootgly.constructor.php
!/projects/cli.constructor.php.example
!/projects/sapi.constructor.php.example
!/projects/web.constructor.php.example
!/projects/@bootgly

## /public
/public/*
!/public
!/public/example.com

## /workspace
# Ignore all files here
/workspace/*.*
# Ignore all folder here
/workspace/*/*
# Preserve existence of folders with .gitkeep here
!/workspace/*/.gitkeep
