# Ignore IDEs folders...
.idea/
# Ignore files by extension...
*.iso
*.log
# Ignore locks, bin, envs...
composer
composer.lock


### @Bootgly ###

## Global folders
# Excluded
**/&

## Root folders
# Boot
@/*
!@/autoload.php

!@/__php__/
!@/__docker__/

## Private files
# Examples
_*.example.php
# Tests
_*.test.php


#-- /Bootgly --#

#- /abstract
# ...

#- /base
# ...

#- /core
# ...

#- /interfaces
# ...

#- /modules
# ...

#- /nodes
# ...

#- /platforms
# ...

#-- Workables --#

#- /projects
/projects/cli.constructor.php
/projects/cli.*.api.php
/projects/web.constructor.php
/projects/web.*.api.php

# /public
/public/test
# /scripts
# Ignore private scripts
/scripts/_*.php

# /workspace
# Ignore all files here
/workspace/*.*
# Ignore all folder starting with @ here
/workspace/@*/
# Preserve existence of folders with .gitkeep here
!/workspace/*/.gitkeep
