# Ignore IDEs folders...
.idea/
# Ignore files by extension...
*.iso
# Ignore locks, bin, envs...
composer
composer.lock
cli-config.php
server-*.php


### @Bootgly ###

## Global folders
# Excluded
**/&

## Root folders
# Boot
@/*
!@/autoload.php
!@/php-jit.ini

## Private files
# Examples
_*.example.php
# Tests
_*.test.php

#-- Bootstrap --#

#- /abstract
# ...

#- /base
# ...

#- /core
# ...

#-- Resources --#

#- /interfaces
# ...

#- /modules
# ...

#- /nodes
# ...

#- /platforms
# ...

#-- Sources --#

#- /projects
/projects/cli.constructor.php
/projects/sapi.constructor.php
/projects/sapi.http.constructor.php
/projects/web.constructor.php

#- /public
/public/test

#- /workspace
# Ignore all files here
/workspace/*.*
# Ignore all folder starting with @ here
/workspace/@*/
# Preserve existence of folders with .gitkeep here
!/workspace/*/.gitkeep
