parameters:
   excludePaths:
      analyse:
         - */&/*
         - */vs/*
         - */tests/*
         - */examples/*
   reportUnmatchedIgnoredErrors: false
   level: 9

   paths:
      - ../Bootgly/
   ignoreErrors:
      - identifier: property.uninitializedReadonly
      - identifier: property.private
      - identifier: property.protected
      - identifier: property.readOnlyAssignNotInConstructor
      - identifier: property.readOnlyAssignOutOfClass
      - identifier: assign.propertyReadOnly
      -
         message: '#.*BOOTGLY_PROJECT not found\.#'
         identifier: constant.notFound
      -
         message: '#Property Bootgly\\WPI\\Interfaces\\TCP_Client_CLI::\$Connections.*does not accept#'
         path: ../Bootgly/WPI/Nodes/HTTP_Client_CLI.php