includes:
   - ../vendor/marc-mabe/php-enum-phpstan/extension.neon

parameters:
   excludePaths:
      analyse:
         - */&/*
         - */vs/*
         - */tests/*
         - */examples/*
   reportUnmatchedIgnoredErrors: false
   level: 9

   paths:
      - ../Bootgly
   ignoreErrors:
      - identifier: property.uninitializedReadonly
      - identifier: property.private
      - identifier: property.protected
      - identifier: property.readOnlyAssignNotInConstructor